﻿@model IEnumerable<FacebookClone.Models.FaceNETModels.Photo>

@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gallery</h2>

<div class="row">
    @foreach (var item in Model) {
        <div class="col-md-4">
            <figure>
                <img src="@Url.Content(item.Path)" alt="IMAGES" style="width:360px; height:240px"/>
                <figcaption>
                    @Html.DisplayFor(modelItem => item.Description)
                </figcaption>
            </figure>
        </div>
    }
</div>
