﻿
@model FacebookClone.Models.FaceNETModels.UserProfile
@using FacebookClone.Models.BusinessLayer
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "My Profile";
    Layout = "~/Views/Shared/_LayoutAndChatbox.cshtml";
}


<h2 style="font-weight:bold; font-family:'Times New Roman', Times, serif">
    @Model.FirstName @Model.LastName
</h2>


<div>
    <hr />

    <div class="row" style="margin:20px; padding:10px;">
        @if (User.Identity.IsAuthenticated &&
            !ProfileOfUserHelper.UsersAreFriends(User.Identity.GetUserId(), Model.UserId) &&
            !ProfileOfUserHelper.RequestIsSent(Model.UserId, User.Identity.GetUserId()) && 
            !User.IsInRole("Administrator"))
        {
            <div class="btn btn-default">
                <div class="glyphicon glyphicon-user"></div>
                @Html.ActionLink("Add Friend", "AddFriend", new { requesterId = User.Identity.GetUserId() , requestedId = Model.UserId})
            </div>
        }

        @if (ProfileOfUserHelper.RequestIsSent(User.Identity.GetUserId(), Model.UserId))
        {

            <div class="btn btn-default">
                <div class="glyphicon glyphicon-ok-circle" style="color:cornflowerblue"> Friend Request pending</div>
            </div>

        }

        @if (ProfileOfUserHelper.UsersAreFriends(User.Identity.GetUserId(), Model.UserId))
        {

            <div class="btn-default">
                <div class="glyphicon glyphicon-check" style="color:green"> Friends </div>
            </div>
        }



    </div>
    <div class="row">
        <div class="col-md-4">
            <figure>
                <img src="@Url.Content(Model.ImagePath)" alt="IMAGES" style="width:360px; height:240px" />
            </figure>
        </div>
        <dl class="dl-horizontal col-md-4">

            <div style="margin-bottom:1px;">
                <span style="font-size:medium; font-style:oblique; "> Gender : </span>
                @if (Model.SexId == 1)
                {
                    <div class="glyphicon glyphicon-king">  Male  </div>
                }
                @if (Model.SexId == 2)
                {
                    <div class="glyphicon glyphicon-queen">  Female  </div>
                }
            </div>

            </br>


            <div style="margin-bottom:1px;">
                <span style="font-size:medium; font-style:oblique"> Public profile : </span>
                @if (Model.IsPublic)
                {
                    <div class="glyphicon glyphicon-check" style="color:green">  Yes </div>
                }
                @if (!Model.IsPublic)
                {
                    <div class="glyphicon glyphicon-remove" style="color:red">  No </div>
                }
            </div>


            </br>


            <div style="margin-bottom:1px;">
                <span style="font-size:medium; font-style:oblique"> No. of Friends : </span> @ProfileOfUserHelper.GetFriendsOfUserByUserId(Model.UserId).Count()

            </div>

        </dl>
        <div class="col-md-4">
            <span style="font-weight:bold; font-size:22px;">Friends</span>
            @{ 
                var friends = ProfileOfUserHelper.GetFriendsOfUserByUserId(Model.UserId);
                foreach(var friend in friends)
                {
                    <div>
                        @friend.FirstName @friend.LastName
                    </div>
                }
            }
        </div>
    </div>

    <div class="row" style="margin-top:20px">

        @foreach (var photoAlbum in Model.PhotoAlbums)
            {
            <div class="row" style=" overflow-x:hidden;margin-bottom:50px; padding:10px; border:2px solid black; border-radius: 50px 20px;">

                <div class="row " style="border-bottom:2px solid black; margin-bottom:5px; padding:10px;">

                    <div class="col-md-10 text-center" style="font-weight:bold; ">
                        @photoAlbum.Name
                    </div>


                    @if (User.IsInRole("Administrator"))
                    {

                        <div class="btn btn-danger pull-right">
                            <div class="glyphicon glyphicon-trash"></div>
                            @Html.ActionLink("Delete Album", "DeletePhotoAlbum", "MyUserProfile", new { albumId = photoAlbum.AlbumId}, null)
                       </div>

                    }
                </div>




                @foreach (var photo in photoAlbum.Photos)
                {
                    <div class="col-md-4 center-block" style="margin-bottom:20px;">
                        <figure>
                            <img src="@Url.Content(photo.Path)" alt="IMAGES" style="width:360px; height:240px" />
                            <figcaption>
                                @photo.Description
                            </figcaption>
                        </figure>
                    </div>
                }

                @if (photoAlbum.Photos == null || photoAlbum.Photos.Count() == 0)
                {
                    <div class="text-center" style="font-size:12px; font-style:italic;">
                        No available photos in this album.
                    </div>
                }

            </div>
        }

    </div>
</div>

