﻿@model FacebookClone.Models.FaceNETModels.PhotoAlbum

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAndChatbox.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PhotoAlbum</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserProfile.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserProfile.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AlbumId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
