﻿
@{
    ViewBag.Title = "_Layout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="chatBox">
    <div style="height:30px; width:100%; margin: 3px 0px 3px 0px;">
        <div class="hide">
            <h6 id="message"></h6>
        </div>
        <span class="glyphicon glyphicon-comment"></span>
        <div  style="float:right; width:50%" >
            <select id="select_user-chat" style="width:100%" class="col-md-12 form-control"></select>
        </div>
    </div>
    <div id="chatarea"></div>
    <input class="form-control input-lg" type="hidden" id="newmessage_username" value="SOME USERNAME" />
    <div  style="wdith:100%; margin-top: 5px;">
        <input class="form-control" type="text" id="newmessage_messagebody" size="10" placeholder="Write a message.." />
    </div>
</div>

@RenderBody()
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="../../Scripts/Chatbox.js"></script>
