﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../Content/_Layout.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    
    <title>FaceNET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @using Microsoft.AspNet.Identity
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                @Html.ActionLink("FaceNet", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
 

                @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
                {
                    @Html.ActionLink("Edit Users", "Index", "UserProfiles", new { area = "" }, new { @class = "navbar-brand" });
                }

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!--<li>@Html.ActionLink("Home", "Index", "Home")</li> -->
                    @if (!User.IsInRole("Administrator"))
                    {
                        <li>@Html.ActionLink("My Profile", "Index", "MyUserProfile")</li>

                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row margin-top-15">
            <div class="col-md-4"></div>
            <div class="form-group col-md-4">
                <select id="select_user-profiles" class="form-control">
                </select>
            </div>
            <div class="col-md-4"></div>
        </div>        
        @RenderBody()
        <hr />
        <footer class="bottom" style="position:fixed; bottom:5px ">
            <p>&copy; @DateTime.Now.Year - FaceNET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="../../Scripts/_Layout.js"></script>

</body>
</html>
