﻿@{
    ViewBag.Title = "Home";
}

<h1>FaceNET</h1>



<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="../../Images/Carousel1.jpg" alt="Chania">
            <div class="carousel-caption">
                <h3>Make new friends!</h3>
                <p>FaceNET is always so much fun!</p>
            </div>
        </div>

        <div class="item">
            <img src="../../Images/Carousel2.jpg" alt="Chicago">
            <div class="carousel-caption">
                <h3>Spy on your ex</h3>
                <p>Nothing beats an old classic stalker!</p>
            </div>
        </div>

        <div class="item">
            <img src="../../Images/Carousel3.jpg" alt="New York">
            <div class="carousel-caption">
                <h3>Get disappointed with life</h3>
                <p>All your friends appear to have so much fun, why don't you? there must be something wrong...</p>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>










