﻿

#chatBox {
    background-color: rgb(255, 255, 255);
    padding: 1px;
    position: fixed;
    right: 2%;
    bottom: 5px;
    width: 400px;
    border-style: solid;
    border-width: small;
    border-radius: 10px;
    z-index: 1000;
    border-color: #08b2e6
}
#chatarea {
    height: 250px;
    width: 100%;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-radius: 5px;
    overflow-y: scroll;
    border-color: #08b2e6
}

#newmessage_messagebody {
    margin-right: 0px;
}

.my-input-lg {
    height: 46px;
    padding: 10px 14px;
    font-size: 12px;
    line-height: 1.2;
    border-radius: 6px;
    width:100%;
}

.select2{
    theme: "classic"
  };

figcaption {
    display:inline-block;
}

.glyphicon {
    margin:5px;
    font-size: 20px;
}