﻿@model FacebookClone.Models.FaceNETModels.PhotoAlbum

@{
    ViewBag.Title = "Add A PhotoAlbum";
    Layout = "~/Views/Shared/_LayoutAndChatbox.cshtml";
}

<h2>Add PhotoAlbum</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create a new album" class="btn btn-block" />
            </div>
        </div>
    </div>
}

<div class="btn btn-default">
    <div class="glyphicon glyphicon-backward">

    </div>
    @Html.ActionLink("Back to Profile", "Index")
</div>

@Scripts.Render("~/bundles/jquery")
<script src="../../Scripts/AddPhotoAlbum.js"></script>
