﻿
@model FacebookClone.Models.FaceNETModels.UserProfile
@using FacebookClone.Models.BusinessLayer

@{
    ViewBag.Title = "My Profile";
    Layout = "~/Views/Shared/_LayoutAndChatbox.cshtml";
}


    <h2 style="font-weight:bold; font-family:'Times New Roman', Times, serif">
        @Model.FirstName @Model.LastName
    </h2>


    <div>
        <hr/>
        <div class="row">
            <div class="col-md-4">
                <figure>
                    <img src="@Url.Content(Model.ImagePath)" alt="IMAGES" style="width:360px; height:240px" />
                </figure>
            </div>
            <dl class="dl-horizontal col-md-4">
            
                <div style="margin-bottom:1px;">
                    <span style="font-size:medium; font-style:oblique; "> Gender : </span> 
                    @if(Model.SexId == 1)
                    {
                        <div class="glyphicon glyphicon-king">  Male  </div>
                    }
                    @if (Model.SexId == 2)
                    {
                        <div class="glyphicon glyphicon-queen">  Female  </div>
                    }
                </div>

                </br>


                <div style="margin-bottom:1px;">
                    <span style="font-size:medium; font-style:oblique"> Public profile : </span>
                    @if (Model.IsPublic)
                    {
                        <div class="glyphicon glyphicon-check" style="color:green">  Yes </div>
                    }
                    @if (!Model.IsPublic)
                    {
                        <div class="glyphicon glyphicon-remove" style="color:red">  No </div>
                    }
                </div>


                </br>


                <div style="margin-bottom:1px;">
                    <span style="font-size:medium; font-style:oblique"> No. of Friends : </span> @ProfileOfUserHelper.GetFriendsOfUserByUserId(Model.UserId).Count()

                </div>

            </dl>
            <div class="col-md-4">
                <span style="font-weight:bold; font-size:22px;">Friends</span>
                @if (ProfileOfUserHelper.GetFriendsOfUserByUserId(Model.UserId).Count() == 0)
                {
                    <div>You have no friends yet.</div>
                }
                @{
                    var friends = ProfileOfUserHelper.GetFriendsOfUserByUserId(Model.UserId);
                    foreach (var friend in friends)
                    {
                        <div>
                            @friend.FirstName @friend.LastName
                        </div>
                    }
                }

                <div>
                    <span style="font-weight:bold; font-size:22px;">Friend Requests</span>
                    @foreach (var friendReq in ProfileOfUserHelper.GetFriendRequestsByUserId(Model.UserId))
                    {
                        var userProfile = ProfileOfUserHelper.GetProfileOfUserByUserId(friendReq.RequesterId);
                        var name = userProfile.UserProfile.FirstName + "  " + userProfile.UserProfile.LastName;
                        <div> @name  @Html.ActionLink("Accept", "ConfirmRequest", new { id = friendReq.FriendRequestId }) 
                        </div>
                        
                    }
                </div>
            </div>
        </div>
        <div class="row" style="margin:20px; padding:10px;">
            <div class="col-md-12">
                <div class="btn btn-default">
                    <div class="glyphicon glyphicon-edit"></div>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.UserId })
                </div>
                <div class="btn btn-default">
                    <div class="glyphicon glyphicon-plus-sign"></div>
                    @Html.ActionLink("Add Photo Album", "AddPhotoAlbum", new { id = Model.UserId })
                </div>
            </div>
        </div>
        <div class="row">

            @foreach (var photoAlbum in Model.PhotoAlbums)
            {
                <div class="row" style=" overflow-x:hidden;margin-bottom:30px; padding:10px; border:2px solid black;  border-radius: 50px 20px;">

                    <div class="row " style="border-bottom:2px solid black; margin-bottom:5px; padding:10px;">
                        <div class="col-md-8 text-center" style="font-weight:bold; ">
                            @photoAlbum.Name
                        </div>

                        <div class="btn btn-default col-md-2">
                            <div class="glyphicon glyphicon-plus"></div> 

                            @Html.ActionLink("Add Photo", "AddPhotoToAlbum", new { albumId = photoAlbum.AlbumId })
                        </div>

                        <div class="btn btn-danger col-md-2">
                            <div class="glyphicon glyphicon-trash"></div>

                            @Html.ActionLink("Delete album", "DeletePhotoAlbum", new { albumId = photoAlbum.AlbumId })
                        </div>
                    </div>

                    @foreach (var photo in photoAlbum.Photos)
                    {
                        <div class="col-md-4 center-block">
                            <figure>
                                <img src="@Url.Content(photo.Path)" alt="IMAGES" style="width:360px; height:240px" />
                                <figcaption>@photo.Description
                                    <span style="float:right">
                                        @Html.ActionLink("Comments", "Comment", new { photoId = photo.PhotoId})
                                        <span class="glyphicon glyphicon-comment"></span>
                                    </span>
                                </figcaption>
                            </figure>
                        </div>
                    }

                    @if(photoAlbum.Photos == null || photoAlbum.Photos.Count() == 0)
                    {
                        <div class="text-center" style="font-size:12px; font-style:italic;">
                            No available photos in this album.
                        </div>
                    }

                </div>
            }

        </div>
    </div>
   
